
header { 
    background-color: #fafafa;
    border-bottom: 1px solid $grey;
    top: 0;
    position: sticky;
    nav { 
        @include flex (space-between, center, row);
        ul {
            list-style: none;
            li {
                div {
                    @include flex (space-between,center,row)
                }
            }
        }
        input { 
            width: 20%;
            padding-left: .5rem;
            border: none;
            height: 1.3rem;
            border-radius: .25vh;
            border: 1px solid $grey;
        }
    }
    
}


//-----------Logo style----------//
#logo__img {
 width: 6rem;
}


//---------Modal Style----------//
center {
    img { 
        width: 30%;   
        padding: .8rem 0;
    }
}
body > div.MuiModal-root.css-79ws1d-MuiModal-root > div.MuiBox-root.css-1wnsr1i {
    padding: 0;
    border: none;
    border-radius: 1vh;
   @include boxshadow;
   div:nth-child(2) {
        margin: .5rem 0;
   }
}

